<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/create.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="/">kembali</a>
    <h1>Create data mahasiswa</h1>
    <form method="post" action="/mahasiswas/add">
      <input type="text" name="nim" placeholder="Tambah NIM" />
      <input type="text" name="nama" placeholder="Tambah Nama" />
      <input type="text" name="dospem" placeholder="Tambah Dospem" />
      <input type="text" name="notelp" placeholder="Tambah No Telpon" />
      <input type="text" name="email" placeholder="Tambah Email" />
      <input type="submit" name="submit" value="Tambah" />
    </form>
  </body>
</html>
